.page-lead  p {
	line-height:2em !important;
}
@media (max-width:992px) {
	.header-inner .mobile-menu-icon {
		margin-top:10% !important;
	}
}

footer > div > .footer.container div.textwidget {
	font-size:0.9em !important;
}
.client-logos img {
	padding:5px;
	border: 5px solid #f1f1f1;
}
.client-logos img:hover {
	padding:0px;
}


 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
		html {
			font-size:0.9em;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }